# Python
__pycache__/
*.pyc
*.pyo

# venv
.venv/

# Editors
.vscode/
.idea/

# OS
.DS_Store

# Project outputs
runs/
checkpoints/

# Data
.data/
/data/

# Packaging
*.egg-info/

# Env
.env

# Legacy
model/__pycache__/
